<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>K.Mukai's Portfolio -Contact</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <header>
    <h1>K.Mukai's Portfolio</h1>
    <nav>
       <ul class = "upper-nav">
          <li><a class = "page-link" href = "/about-me">About Me</a></li>
          <li><a class = "page-link" href = "/projects">Projects</a></li>
          <li><a class = "page-link" href = "/blog">Blog</a></li>
          <li><a class = "page-link" href = "/contact">Contact</a></li>
       </ul> 
    </nav>
    </header>

    <section class = "sentence">
      <h2 class = "common-header">Please confirm your message</h2>
      <div id = "contact-form"  th:object = "${sendMessageForm}">
           <div class = "contact-labeling">Your Name</div>
           <p class = "common-sentence"  th:text = "*{senderName}"></p>
           <div class = "contact-labeling">Your Mail Adress</div>
           <p class = "common-sentence"  th:text = "*{senderMailAddress}"></p>
           <div class = "contact-labeling">Message</div>
           <p class = "common-sentence"  th:text = "*{mainMessage}"></p>

           <form action = "/send-message" method = "POST" th:object = "${sendMessageForm}">
              <input type = "hidden" th:field = "*{senderName}">
              <input type = "hidden" th:field = "*{senderMailAddress}">
              <input type = "hidden" th:field = "*{mainMessage}">
              <input type = "submit" value    = "Send Message" class = "button">
           </form>

           <form class = "button"  action = "/contact-ret" method = "POST" th:object = "${sendMessageForm}">
              <input type = "hidden" th:field = "*{senderName}">
              <input type = "hidden" th:field = "*{senderMailAddress}">
              <input type = "hidden" th:field = "*{mainMessage}">
              <input type = "submit" value    = "Go Back" class = "button">
           </form>
      </div>
    </section>

</body>
</html>