<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>K.Mukai's Portfolio -Contact</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <header>
    <h1>K.Mukai's Portfolio</h1>
    <nav>
       <ul class = "upper-nav">
          <li><a class = "page-link" href = "/about-me">About Me</a></li>
          <li><a class = "page-link" href = "/projects">Projects</a></li>
          <li><a class = "page-link" href = "/blog">Blog</a></li>
          <li><a class = "page-link" href = "/contact">Contact</a></li>
       </ul> 
    </nav>
    </header>

    <section class = "sentence">
      <h2 class = "common-header">Contact</h2>
      <div id = "contact-form">
        <form action = "/confirm-contact-message" method = "POST" 
              th:object = "${sendMessageForm}">
            <div class = "contact-labeling">Your Name</div>
            <div>
                <input class = "textbox" type = "text"  th:field = "*{senderName}">
                <div class = "error-msg" th:if = "${#fields.hasErrors('senderName')}" th:errors = "*{senderName}"> </div>
            </div>
            <div class = "contact-labeling">Your Mail Address</div>
            <div>
                <input class = "textbox"  type = "email" th:field = "*{senderMailAddress}">
                <div class = "error-msg" th:if = "${#fields.hasErrors('senderMailAddress')}" th:errors = "*{senderMailAddress}"> </div>
            </div>
            <div class = "contact-labeling">Message</div>
            <div>
                <textarea class = "textbox" th:field = "*{mainMessage}" rows = "10" cols = "40"></textarea>
                <div class = "error-msg" th:if = "${#fields.hasErrors('mainMessage')}" th:errors = "*{mainMessage}"> </div>
            </div>
            <div>
                <input class = "button" type = "submit" value = "Send Message" >
            </div>
        </form>
      </div>
    </section>
    
</body>
</html>