<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>K.Mukai's Portfolio -Projects</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <header>
    <h1>K.Mukai's Portfolio</h1>
    <nav>
       <ul class = "upper-nav">
          <li><a class = "page-link" href = "/about-me">About Me</a></li>
          <li><a class = "page-link" href = "/projects">Projects</a></li>
          <li><a class = "page-link" href = "/blog">Blog</a></li>
          <li><a class = "page-link" href = "/contact">Contact</a></li>
       </ul> 
    </nav>
    </header>

    <section class = "sentence">
      <h2 class = "common-header">Projects</h2>
      <p  class = "common-sentence">My Projects still getting ready...</p>
    </section>
    
</body>
</html>