<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>K.Mukai's Portfolio -Projects</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <header>
    <h1>K.Mukai's Portfolio</h1>
    <nav>
       <ul class = "upper-nav">
          <li><a class = "page-link" href = "/about-me">About Me</a></li>
          <li><a class = "page-link" href = "/projects">Projects</a></li>
          <li><a class = "page-link" href = "/blog">Blog</a></li>
          <li><a class = "page-link" href = "/contact">Contact</a></li>
       </ul> 
    </nav>
    </header>

    <section class = "sentence">
      <h2 class = "common-header">Projects</h2>
      <p  class = "common-sentence">
         I showcase projects that I have personally developed and coded. <br>
         For projects incorporating AI, this is clearly indicated.</p>
    </section>

    <section class = "sentence">
      <h2  class = "project-header">Restaurant review site admin tool</h2>
      <div class = "project-img">
      <img class = "project-img"  src="/img/rrsatImage1.png" alt="Restaurant review site admin tool image">
      <img class = "project-img"  src="/img/rrsatImage2.png" alt="Restaurant review site admin tool image"><br>
      <a href="https://github.com/Kota-Mukai/Restaurant-Review-Site-Admin-Tool"><img class = "project-link" src="/img/githubLogo.png"  alt="Restaurant review site admin tool link "></a>
      </div>
      <p   class = "common-sentence">
         "Restaurant review site admin tool" is<br>
         an administrative system that allows administrators<br>
         to register, edit, and delete restaurants on the restaurant review site, <br>
         as well as search for restaurants within the site.
      </p>
      <h3 class  = "project-paragraph">Tech Stack</h3>
      <div class = "project-tech-stack"> 
      <img class = "project-tech-stack-java"  src="/img/javaLogo.png" alt="Java logo">
      <img class = "project-tech-stack"       src="/img/htmlLogo.png" alt="HTML logo">
      <img class = "project-tech-stack"       src="/img/cssLogo.png"  alt="CSS logo">
      <img class = "project-tech-stack"       src="/img/sqlLogo.png"  alt="SQL logo">
      <img class = "project-tech-stack"       src="/img/springbootLogo.png" alt="Spring boot logo">
      </div>

    </section>

     <section class = "sentence">
      <h2  class = "project-header">Restaurant review site client tool</h2>
      <div class = "project-img">
      <img class = "project-img"  src="/img/rrsctImage1.png" alt="Restaurant review site client tool image">
      <img class = "project-img"  src="/img/rrsctImage2.png" alt="Restaurant review site client tool image"><br>
      <a href="https://github.com/Kota-Mukai/Restaurant-Review-Site-Client-Tool"><img class = "project-link" src="/img/githubLogo.png"  alt="Restaurant review site client tool link "></a>
      </div>
      <p   class = "common-sentence">
         "Restaurant review site client tool" implements CRUD operations<br>
         that allow you to search for restaurants registered on the site,<br>
         check their names, tagline and average review scores,<br>
         and add, edit, or delete reviews.
      </p>
      <h3 class  = "project-paragraph">Tech Stack</h3>
      <div class = "project-tech-stack"> 
      <img class = "project-tech-stack-java"  src="/img/javaLogo.png" alt="Java logo">
      <img class = "project-tech-stack"       src="/img/htmlLogo.png" alt="HTML logo">
      <img class = "project-tech-stack"       src="/img/cssLogo.png"  alt="CSS logo">
      <img class = "project-tech-stack"       src="/img/sqlLogo.png"  alt="SQL logo">
      <img class = "project-tech-stack"       src="/img/springbootLogo.png" alt="Spring boot logo">
      </div>

    </section>
    
</body>
</html>